     {
      box-sizing: border-box;
    }
     

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 

h1, h2, p {
    color: #333;
    text-align: center;
} 

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
} 

h1 {
    font-size: 50px;
    line-height: 60px;
} 

h2 {
    font-size: 30px;
    line-height: 40px;
} 

p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 25px;
} 

.hero {
    background: linear-gradient(to right, #636fa4, #799aeb);
    color: #fff;
    padding: 30px;
} 

.carps {
    background: url("images/tail.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    margin-top: -20px;
} 

.habitats {
    background: linear-gradient(to right, #636fa4, #799aeb);
    padding: 20px 0;
} 

.diet {
    background: url("images/food.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    margin-top: -20px;
} 

.breeding {
    background: linear-gradient(to right, #636fa4, #799aeb);
    padding: 20px 0;
} 

.conservation {
    background: url("images/conservation.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    margin-top: -20px;
} 

footer {
    background: linear-gradient(to right, #636fa4, #799aeb);
    color: #fff;
    padding: 10px 0;
    text-align: center;
} 